*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #DECDAC;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.news{
    background-color: white;
    max-width: 485px;
    max-height: 243px;
    padding: 60px 80px;
    border-radius: 28px;
}

#btn{
    background-color: #EBBF53;
    color: white;
    padding: 13px 30px;
    border-radius: 30px;
    cursor: pointer;
}

/* ---------LOOP-------------- */

.popup{
    position: absolute;
    background-color: #FEFAF3;
    min-width: 285px;
    min-height: 143px;
    padding: 0 30px;
    padding-bottom: 50px;
    border-radius: 28px;
    display: none;
}

.top{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

#cross{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 10px;
}

.left {
    position: relative;
}

.left img{
   margin-top: -40px;
   max-width: 180px;
   margin-left: 20px;
   
}
.right{
    margin-right: 10px;
}
.right h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}
.right p{
    font-size: 15px;
}

.down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.down input{
    background-color: #EEE8DD;
    padding: 10px 20px;
    border: 1px solid #AFA187;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    min-width: 250px;
    border-right: none;
}

.down button{
    background-color: #EBBF53;
    padding: 10px 20px;
    border: 1px solid #EBBF53;
    border-left: none;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    cursor: pointer;
}